.popular-flavors {
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 2.5em;

  .chocolate-chip{
    float:left;
    padding: .5em;
  }

  .birthday-bash {
    float:left;
    padding: .5em;
  }

  .oreo {
    float: left;
    padding: .5em;
  }

  h1 {
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.28em;
    font-weight: 400;
    color:$grey;
    text-align:center;
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 1em;
  }

  h2 {
    font-family: $font-stack;
    font-weight: 400;
    font-size:1em;
    background:white;
  }

  h2 a {
    color: $teal;
  }

  h2 a:hover {
    color: black;
  }

  img {
    width: 216px;
    height: 138px;
  }

  img:hover{
    background-image: url("images/hover.png");
    opacity: .5;
  }


.price {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  font-size:1em;
  color: $grey;
  letter-spacing:.08em;
  text-align:center;
}

.name {
  font-family: $font-stack;
  color:$teal;
  font-size: 1.1em;
  font-weight:200;
  text-align:center;
}

.name a {
  color:$teal;
  text-decoration: none;
}


img{
  max-width:100%;

}

.buy {
  position: relative;
  height: 9em;
  width: 16em;
  overflow:hidden;
  text-align: center;
}

.buy img {
  position: absolute;
  top:0;
  left: 0;
  z-index: -10;
}

.buy ol {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  height: 100%;
  background-color: hsla(0,0%,0%,0.5);
  opacity: 0;
}

.buy ol:hover {
  opacity:1;
}

.buy li {
  border-top: 1px solid #fff;
  height: 50%;
  margin: 0;
}

.buy li:first-child {
  border:0;
}

.buy a {
  color: #fff;
  text-decoration: none;
  color: hsla(0,0%,100%,0.6);
}

.buy a:hover {
  color:#fff;
}

}
