.popular-flavors {
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 2.5em;

  .chocolate-chip{
    float:left;
    padding: .5em;
  }

  .birthday-bash {
    float:left;
    padding: .5em;
  }

  .oreo {
    float: left;
    padding: .5em;
  }

  h1 {
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.28em;
    font-weight: 400;
    color:$grey;
    text-align:center;
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 1em;
  }

  h2 {
    font-family: $font-stack;
    font-weight: 400;
    font-size:1em;
    background:white;
  }

  h2 a {
    color: $teal;
  }

  h2 a:hover {
    color: black;
  }

  img {
    width: 216px;
    height: 138px;
  }

  img:hover{
    background-image: url("images/hover.png");
    opacity: .5;
  }


.price {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  font-size:1em;
  color: $grey;
  letter-spacing:.08em;
  text-align:center;
}

.name {
  font-family: $font-stack;
  color:$teal;
  font-size: 1.1em;
  font-weight:200;
  text-align:center;
}

.name a {
  color:$teal;
  text-decoration: none;
}
}
