.body {

  border-bottom: 1px solid #D2D2D2;

  img {
    padding-bottom: 3em;
    width:100%;
    border-bottom: 1px solid #D2D2D2;
  }

  p {
    font-size: 1.25em;
    font-family: 'Neuton' serif;
    color:$grey;
    line-height: 1.5em;
    margin: 2em 7em 2em 7em;
    padding: 5px;
    text-align: center;

  }

  a {
    color:#65C9DC;
    text-decoration: none;
  }
}
