.page-header {
  margin: 2em auto;
  background-color: white;
  padding: 2em;


  img {
    border-top: 1px solid #D2D2D2;
    padding: 10px;
    width:25%;
    position: relative;
    margin: 1em 25em 1em 25em;

  }

  .shopping-cart {
    p {
      font-family: 'News Cycle', sans-serif;
      padding-bottom: 2em;
      float:right;
      margin-right: 3em;
    }
    p a{
      color: $teal;
    }
    a:hover {
      color: black;
    }
  }
}
