.page-header {
  margin: .5em auto;
  background-color: white;
  padding: .5em;


  img {
    
    width:30%;
    position: relative;
    margin: 1em 20em 1em 20em;

  }

  h1 {
    border-bottom: 1px solid #F1F1F1;
    padding-top:1em;

  }

  .shopping-cart {
    p {
      font-family: 'News Cycle', sans-serif;
      font-size:.85em;
      font-weight:200;
      letter-spacing:.09em;
      padding-bottom: .5em;
      float:right;
      margin-right: 4em;
    }
    p a{
      color: $teal;
      text-decoration: none;
    }
    a:hover {
      color: black;
    }
  }
}
