.main-nav {
  margin: 1em;
  font-family: 'News Cycle', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.82em;
  word-spacing: 1.5em;
  letter-spacing: .2em;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
  text-align:center;
  padding: 1em;


  ul {
    list-style-type: none;
    padding: 0;

  }

  li {
    margin-right: 0em;
    padding: 0 0.5em;
    display: inline;
    color: $grey;
    }


  a{
    color:$grey;
    text-decoration: none;
    padding: 0.5em 0;
  }

  .currentLink {
    color: #65C9DC;
    font-weight: 700;
  }
}
