.page-footer {
  clear:both;
  font-family: 'News Cycle', sans-serif;
  font-size:.79em;
  font-weight:200;
  text-transform:uppercase;
  letter-spacing:.1em;
  color:$grey;
}

ul {
  list-style-type:none;
  display: inline-block;
}

a{
  display: inline;
}
