html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: url('../images/background.jpg') repeat-x;

}

// main.scss

  @import "variables";
  @import "globals";

//modules

  @import "article-block";
  @import "body";
  @import "css-module";
  @import "header";
  @import "main-nav";
  @import "page-footer";
